<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="URL Alias" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="localhost:50" />
                    </conditions>
                    <action type="Rewrite" url="/cd/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
